:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 19px;
  max-width: 100vw;

  color-scheme: light dark;
  color: #fff;
  background-color: #010101;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

p {
  margin-bottom: 15px;
}

h1 {
  text-align: center;
}

a {
  font-weight: 500;
  color: #fff;
}

a:not(.article-link):hover {
  color: #111;
  background-color: #fff;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

::-moz-selection {
  color: #000;
  background: #fff;
}
::selection {
  color: #000;
  background: #fff;
}

ul {
  padding: 0;
  list-style-type: none;
}

#__nuxt {
  width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
}

.black-link {
  color: #000;
  padding: 0 3px;
  text-decoration: none;
}
.black-link:not(.article-link):hover {
  color: #fff;
  background-color: #000;
}

@media (max-width: 1115px) {
  :root {
    font-size: 15px;
    min-height: 100vh;
    max-width: 100vw;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
